{% extends 'base.html' %}

{% block content %}
    <h1 id="title" {{ mode }}>{% block title %} TO DO LIST {% endblock %}</h1>
    <div class="section1">
        <input type="checkbox" onclick="switchTheme()">Dark Mode</button>
        <form method="POST">
            <p>
                <label for="new-task">Add Tasks</label>
                <input id="new-task" type="text" name="task" value="{{ request.form['task'] }}">
                <button class="light-mode" type="submit">Add</button>
            </p>
        </form>
    </div>
    <div class="section2">
        <h3>To-do</h3>
        <ul id="incomplete-tasks">
            {% for task in inctasks %}
            <li>
                <form action="{{ url_for('move_task', id=task['id']) }}" method="POST">
                    <input type="checkbox" onChange="this.form.submit()">
                </form>
                <label id="{{ task['id'] }}">{{ task['content'] }}</label>
                <button id="{{ task['id'] }}" class="edit light-mode" onclick="editTask()">Edit</button>
                <form action="{{ url_for('delete', id=task['id']) }}" method="POST">
                    <button id="{{ task['id'] }}" class="delete light-mode" type="submit">Delete</button>
                </form>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="section3">
        <h3>Completed Tasks</h3>
        <ul id="completed-tasks">
            {% for task in comtasks %}
            <li>
                <form action="{{ url_for('move_task', id=task['id']) }}" method="POST">
                    <input type="checkbox" checked onChange="this.form.submit()">
                </form>
                <label id="{{ task['id'] }}">{{ task['content'] }}</label>
                <button id="{{ task['id'] }}" class="edit light-mode" onclick="editTask()">Edit</button>
                <form action="{{ url_for('delete', id=task['id']) }}" method="POST">
                    <button class="delete light-mode" type="submit">Delete</button>
                </form>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="section4">
        <form action="{{ url_for('clear') }}" method="POST">
            <button id="clear" class="light-mode" type="submit">
                <p>Clear</p>
            </button>
        </form>
    </div>
    
{% endblock %}